<h1>FOSSIL RECORD</h1><br>

<div4 class = "form_title">
 sign in
</div4>
<%= form_for @user, url: "/sessions", method: "post" do |f| %>
  <div>
    <%= f.text_field :handle, placeholder: "user_name" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "password" %>
  </div>
  <%= f.submit "Sign In" %>
<% end %>
<br>
<a href="/">flash back</a>