<h1 class = "topPage" >the fossil record</h1>

<% @fossils.each do |fossil| %>
	<div class = "fossilDrops">
	
		<div>
			<%= fossil.user_id %>
			<%= fossil.status %>
		</div><br>
		
		<div>
			<%= image_tag("#{fossil.image}") %>
		</div><br>
	
		<div class = "digs">
			<%= fossil.dig_count %>
		</div><br>
	</div>

<%end%>
