<row class = "hero">

</row>
<div><br>
	
	<p>
		<a href="/sign_in"><%= image_tag("dyno_signin.png")%></a>
	</p><br>
	
	<p>
		<a href="/users/new"><%= image_tag("dyno_signup.png")%></a>
	</p><br>
	
	<br>
	<br>

</div>


