
<div class = "usersShow">
	<div>
		<h1> <%= @user.handle %> </h1>
	</div><br>
	
	<div>
		<h2><%= @user.info %></h2><br>
		<p>
			<%= image_tag("#{@user.image}") %>
		</p><br>
		<br>
	</div>
<a href= "/fossils/new"><%= image_tag("fossilDrop.png")%></a>
<br>
</div>

